# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Summer Platform Project.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ryano\OneDrive\Documents\GitHub\SummerPlatformer\Summer Platform Project\.idea\.idea.Summer Platform Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
